%html
  %head
  %body
    .layout-notification
      .chat
        .chat-side
          .chat-user.clearfix
            masato
            .chat-user__actions
              %a{ :class => 'chat-user__action', :href => '/chat_grouops/new'}
                %i{ :class => 'fa fa-pencil-square-o' }
              %a{ :class => 'chat-user__action', :href => '/users/edit' }
                %i{ :class => 'fa fa-cog' }
          %ul{ :class => 'chat-groups' }
            %li{ :class => 'chat-group'}
              %a{ :class => 'chat-group__link', :href => '/chat-groups/18082/messages' }
                %p{ :class => 'chat-group__name' }テストチャット
                %p{ :class => 'chat-group__message' }
                  まだメッセージはありません

        .chat-main
          .chat-header.clearfix
            .chat-header--left
              テストチャット
              %p{ :class => 'chat-header__users' }
                Members:
                %span{ :class => 'chat-header__user' }masato
            .chat-header--right
              %a{ :class => 'chat-header__edit-btn', :href => '/chat_groups/18082/edit' }Edit

          .chat-body
            %ul{ :class => 'chat-messages' }masato
              %li{ :class => 'chat-message' }
                .chat-message__header.clearfix
                  %p{ class => 'chat-message__name' }masato
                  %p{ class => 'chat-message__time' }2017/09/08 00:11:22
                %p{ class => 'chat-message__body' }テスト
                
          .chat-footer
            %form{ :class => 'new_message', :id => 'new_message', :enctype => 'multipart/form-data', :action => '/chat_groups/18082/messages', :accept-charset => 'UTF-8', :method => 'post'}
              %input{ :name => 'utf8', :type => 'hidden', :value => '&#x2713' }
              .chat-footer__body
                %textarea{ :row => '1', :placeholder => 'type a message', :name => 'message[body]', :id => 'message_body'}
                %label{ :class => 'chat-footer__file'}
                  %input{ :type => 'file', :name => 'message[image]', :id => 'message_image'}
                  %i{ :class => 'fa fa-image'}
              %input{ :type => 'submit', :name => 'commit', :value => 'Send', :data-disable-with => 'Send'}
