%html
  %head
  %body
    .layout-notification
      %p.notification チャットグループが作成されました。
      .chat
        .chat-side
          .chat-user.clearfix
            masato
            .chat-user__actions
              = link_to '/chat_groups/new', class: 'chat-user__action' do
                %i.fa.fa-pencil-square-o
              = link_to '/users/1/edit', class: 'chat-user__action' do
                %i.fa.fa-cog
          %ul.chat-groups
            %li.chat-group
              = link_to '/chat-groups/18082/messages', class: 'chat-group__link' do
                %p.chat-group__name テストチャット
                %p.chat-group__message まだメッセージはありません

        .chat-main
          .chat-header.clearfix
            .chat-header--left
              テストチャット
              %p.chat-header__users
                Members:
                %span.chat-header__user masato
            .chat-header--right
              = link_to 'Edit', '/chat_groups/18082/edit', class: 'chat-header__edit-btn'

          .chat-body
            %ul.chat-messages
              %li.chat-message
                .chat-message__header.clearfix
                  %p.chat-message__name masato
                  %p.chat-message__time 2017/09/08 00:11:22
                %p.chat-message__body テスト

          .chat-footer
            %form#new_message.new_message{ :enctype => 'multipart/form-data', :action => '/chat_groups/18082/messages', :accept-charset => 'UTF-8', :method => 'post'}
              %input{ :name => 'utf8', :type => 'hidden', :value => '&#x2713' }
              .chat-footer__body
                %textarea#message_body{ :row => '1', :placeholder => 'type a message', :name => 'message[body]'}
                %label.chat-footer__file
                  %input#message_image{ :type => 'file', :name => 'message[image]' }
                  %i.fa.fa-image
                %input{ :type => 'submit', :name => 'commit', :value => 'Send', :data-disable-with => 'Send'}
