.chat {
  &-main {
    list-style: none;
    float: left;
    width: calc(100vw - 315px);
  }

  &-header {
    height: 100px;
    border-bottom: 1px solid;
    border-color: #eeeeee;
    //margin-left: 40px;
    //margin-right: 40px;
    &--left {
      float: left;
      padding-top: 35px;
      padding-bottom: 15px;
//      margin-left: 40px;
      padding-left: 40px;
      //margin-right: auto;
      font-size: 20px;
      color: #333333;

    }
    &__users {
      font-size: 12px;
      color: #999999;
      padding-top: 10px;
    }
    &__user{
    }
    &--right {
      float: right;
      margin-top: 28px;
      margin-right: 40px;
      margin-bottom: 15px;
      border: 2px solid;
      border-color: #38AEF0;
    }
    &__edit-btn {
      padding-left: 20px;
      padding-right: 20px;
      height: 40px;
      line-height: 40px;
      color: #38AEF0;
      text-decoration: none;
    }
  }
  &-body {
    height: calc(100vh - 88px);
    background-color: #F8F8F8;
    //margin-left: 40px;
  }
  &-messages {
  }
  &-message {
    &__header {
      padding-top: 46px;
      padding-left: 40px;
    }
    &__name {
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding-right: 10px;
      color: #434A54;
      display: inline-block;
      padding-bottom: 10px;
    }
    &__time {
      font-size: 12px;
      color: #999999;
    }
    &__body {
      padding-left: 40px;
      font-size: 14px;
      color: #434A54;
    }
  }
}
