.notification {
}

.chat {
  &-side {
    list-style: none;
    background-color: #253141;
    width: 300px;
  }
  &-user {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    &__actions {
    }
    &__action {
    }
  }

  &-groups {
    background-color: #2f3e51;
  }
  &-group {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    &__link {
    }
    &__name {
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 15px;
      color: #FFFFFF;
    }
    &__message {
      font-size: 11px;
      color: #FFFFFF;
      padding-bottom: 20px;
    }
  }
  &-main {
    list-style: none;
    width: calc(100vw - 300);
  }
  &-header {
    &--left {
      margin-top: 35px;
    }
    &__users {
    }
    &__user{
    }
      &--right {
      }
      &__edit-btn {
      }
      &-members {
      }
    }
    &__body {
      &--messages-list {
      }
    }
    &__footer {
      &-form {
      }
    }
  }
